<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Voice Recognition</title>
        <style>
            form#form { 
                display: block;
                width: 500px;
                margin: 5rem 0;
            }

            div#result {
                width: 500px;
                height: 3rem;
                line-height:3rem;
            }
        </style>
    </head>
    <body>
    <center>
            <img src="/static/img/title.jpg">
                <form id="form" enctype="multipart/form-data">
            <input name="file" type="file" required accept=".wav"/>
            <button type="submit">업로드</button>
        </form>
        <button id="execute">실행</button>

    <div id="result"></div>
        <script type="application/javascript">
            (() => {
                const form = document.getElementById('form');

                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                    
                    const xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === xhr.DONE) {
                            if (xhr.status === 200)
                                alert('업로드 되었습니다.');
                            else 
                                alert('업로드에 실패했습니다.');
                        }
                    }

                    const data = new FormData(form);
                    xhr.open('post', '/upload');
                    xhr.send(data);
                    return false;
                })

                const execute = document.getElementById('execute');
                const result = document.getElementById('result');


                execute.addEventListener('click', () => {
                    const xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === xhr.DONE) {
                            if (xhr.status === 200) {
                                    const a = JSON.parse(xhr.responseText);
                                    result.innerHTML = '';
                                    for(let i=0;i<a.length;i++){
                                        result.innerHTML += `<div>${a[i].path}</div>`;
                                        result.innerHTML += `<img src = "/static/img/${a[i].result}.jpg"/>`;
                                    }
                            }
                            else 
                                alert('실행에 실패했습니다.');
                        }
                    }

                    xhr.open('post', '/execute');
                    xhr.send();
                    return false;
                })
            })();

        </script>
    </center>
    </body>
</html>